XML_SCHEMAS/playlist_detail.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Track" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LastPurchase"/>
              <xs:element type="xs:string" name="Genre"/>
              <xs:element type="xs:integer" name="Length"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Composer"/>
            </xs:sequence>
            <xs:attribute type="xs:positiveInteger" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

